<link href="~/Content/themes/Logon.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div class="text-center" style="padding:50px 0">
    <div class="logo">Hoan thanh</div>
    <!-- Main Form -->
    <div class="login-form-1">
        <form id="forgot-password-form" class="text-left">
            <div class="etc-login-form">
                <p>please,check your mail !</p>
            </div>

            <div class="etc-login-form">
                <p>already have an account? <a href="/Home/Index">login here</a></p>
                <p>new user? <a href="/Home/SignUp">create new account</a></p>
            </div>
        </form>
    </div>
    <!-- end:Main Form -->
</div>