<div style="width:100px;">
    <a href="#" data-toggle="modal" data-target="#myModal"><font size="5" color="blue">List</font></a>

    <div class="modal fade" id="myModal" role="dialog">
        @Html.Action("Index", "MaintainContact")
    </div>
</div>

<div style="width:100px;">   
    <div class="modal fade" id="myAddModal" role="dialog">
       
    </div>
</div>

<div style="width:100px;">
    
    <div class="modal fade" id="myEditModal" role="dialog">
        
    </div>

</div>
