<div style="width:100px;">
    <a href="#" data-toggle="modal" data-target="#myModal"><font size="5" color="blue">List</font></a>

    <div class="modal fade" id="myModal" role="dialog">
        @Html.Action("Index", "ListContact")
    </div>
</div>

<div style="width:100px;">
    <a href="#" data-toggle="modal" data-target="#myAddModal"><font size="5" color="blue">Create</font></a>

    <div class="modal fade" id="myAddModal" role="dialog">
        @Html.Action("Index", "AddContact")
    </div>
</div>

<div style="width:100px;">
    <a href="#" data-toggle="modal" data-target="#myEditModal"><font size="5" color="blue">Edit</font></a>

    <div class="modal fade" id="myEditModal" role="dialog">
        @Html.Action("Index", "EditContact")
    </div>
</div>