    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">

            <!-- Header content-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Search Contact</h4>
            </div>

            <!-- Body content-->
            <div class="modal-body ">

                <!-- Input -->
                <form class="form-horizontal" role="form">
                    <div class="form-group" style=" border: 1px solid #ddd; margin: 5px 0px 5px 0px; padding: 10px 0px 10px 5px;">
                        <label class="col-sm-2" style=" padding-top: 7px; margin-bottom: 0; text-align: left;">First Name:</label>
                        <div class="col-sm-4">
                            <input class="form-control" name="FistName" type="text">
                        </div>

                        <label class="col-sm-2" style=" padding-top: 7px; margin-bottom: 0; text-align: left;">Surname:</label>
                        <div class="col-sm-4">
                            <input class="form-control" name="Surname" type="text">
                        </div>
                    </div>
                </form>

                <!-- Top Group Button-->
                <div style="margin: 10px 0px 10px 0px">
                    <input type="submit" class="btn btn-primary btn-sm" value="Search Contact" />
                    <button type="button" class="btn btn-primary btn-sm">None</button>
                    <button type="button" class="btn btn-primary btn-sm">Clear</button>
                    <button type="button" class="btn btn-primary btn-sm">Create</button>
                    @Html.ActionLink("Create A New Invoice", "Index", "AddContract", null, new { @class = "btn btn-primary btn-large" })
                </div>

                <!-- Checkbox -->
                <div class="checkbox">
                    <label><input type="checkbox" value="">Include in-active contact?</label>
                </div>

                <!-- Table -->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody id="contact_list_item"></tbody>
                </table>

                <!-- Bottom Group Button-->
                <div style="margin: 10px 0px 10px 0px">
                    
                </div>

            </div>


            <!-- footer content-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>