@model IEnumerable<ServiceDirectory.Models.tblProgramme>

<link href="~/Content/css/css.css" rel="stylesheet" />
@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>*@

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Programme List</h3>
            <div class="row" style="margin:0px">
                <div class="col-md-9" style="padding:0px">
                    <ul class="list-inline" style="padding-top:10px">
                        <li><a href="#">All</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">0-9</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">A</a></li>
                        <li><a href="#">B</a></li>
                        <li><a href="#">C</a></li>
                        <li><a href="#">D</a></li>
                        <li><a href="#">E</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">F</a></li>
                        <li><a href="#">G</a></li>
                        <li><a href="#">H</a></li>
                        <li><a href="#">I</a></li>
                        <li><a href="#">J</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">K</a></li>
                        <li><a href="#">L</a></li>
                        <li><a href="#">M</a></li>
                        <li><a href="#">N</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">O</a></li>
                        <li><a href="#">P</a></li>
                        <li><a href="#">Q</a></li>
                        <li><a href="#">R</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">S</a></li>
                        <li><a href="#">T</a></li>
                        <li><a href="#">U</a></li>
                        <li><a href="#">V</a></li>
                        <li><a href="#">|</a></li>
                        <li><a href="#">W</a></li>
                        <li><a href="#">X</a></li>
                        <li><a href="#">Y</a></li>
                        <li><a href="#">Z</a></li>
                    </ul>
                </div>
                <div class="col-md-1" style="margin-top:5px">
                    @*<button type="button" class="btn btn-default" style="margin-right:10px">Copy</button>*@
                    @Ajax.ActionLink("Create", "Add", "Programme", new AjaxOptions { UpdateTargetId = "modal_programme", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete = "set_attr_add_programme_action_link()" }, new { @id = "add_programme", @class = "btn btn-default" })
                </div>
                <div class="checkbox col-md-2">
                    <label><input type="checkbox" onchange="programme_include_inactive(this)" value="">Include In-active</label>
                </div>
            </div>
        </div>
        <div class="panel-body" id="programme_table">
            @Html.Action("GetList", "Programme", new { page = 1 })
        </div>
        <div class="panel-footer">
        </div>
    </div>
</div>

<!--Modal Programme -->
<div class="modal fade" id="modal_programme" role="dialog">
    <!-- Modal Programme content-->
</div>


<script>
    function set_attr_add_programme_action_link() {
        $('#add_programme').attr("data-toggle", "modal");
        $('#add_programme').attr("data-target", "#modal_programme");
       
        $('#modal_programme').modal('show');
    }

    function programme_include_inactive(checkbox) {
        var url = "/Programme/GetListInActive";

        if (checkbox.checked) {
            $.post(url, { InActive: true }, function (data) {
                $("#programme_table").html(data);
            });
        }
        else {
            $.post(url, { InActive: false }, function (data) {
                $("#programme_table").html(data);
            });
        }
    }
</script>