@model PagedList.IPagedList<ServiceDirectory.Models.tblSupportingMaterial>
@using PagedList.Mvc;

<div class="modal fade" id="supportingmaterial_popup" role="dialog">
<!-- content of pop up here -->
</div>

<div class="row" style="border: 1px ridge silver; ">
    <div><strong>Current List of Supporting Materials</strong></div>
    <div style="margin-top:10px;">
        <div style="padding-top: 10px; padding-bottom:10px;">
            @Ajax.ActionLink("Add", "Add_ActionLink", new { URL = ""},
                                                  new AjaxOptions { UpdateTargetId = "supportingmaterial_popup", InsertionMode = InsertionMode.Replace, OnComplete = "set_attr_add_supportingmaterial_popup()" },
                                                  new { @id = "add_supportingmaterial_link" })
        </div>
        <div id="supporting_material_table">
            @Html.Action("List", "MaintainSupportingMaterial", new { page = 1 })
        </div>
    </div>
</div>

<script>
    function set_attr_add_supportingmaterial_popup() {
        $("#add_supportingmaterial_link").attr('data-toggle', 'modal');
        $("#add_supportingmaterial_link").attr('data-target', '#supportingmaterial_popup');
        $('#supportingmaterial_popup').modal('show');
    }

    function set_attr_edit_supportingmaterial_popup() {
        $("#edit_supportingmaterial_link").attr('data-toggle', 'modal');
        $("#edit_supportingmaterial_link").attr('data-target', '#supportingmaterial_popup');
        $('#supportingmaterial_popup').modal('show');
    }
</script>

