@model IEnumerable<ServiceDirectory.Models.tblOrganisation>

<div style="border: 1px ridge silver; ">
    <div style="margin-top:10px;">
            <div class="row">
                <font color="green" size="5"><strong>Organisation List</strong></font>
            </div>
            <div class="row">
                @Ajax.ActionLink("Add", "Add_ActionLink", "MaintainOrganisation",
                             new AjaxOptions { UpdateTargetId = "organisation_popup", InsertionMode = InsertionMode.Replace, OnComplete = "set_attr_link_popup('add_organisation_link', 'organisation_popup', '')" },
                                      new { @id = "add_organisation_link", @class = "btn btn-default col-md-offset-9 col-md-1" })

                <input type="checkbox" style="margin: 8px 8px;" onchange="maintain_organisation_include_inactive(this)" />Include In-active
            </div>
        <div id="organisation_table" class="row">
            @Html.Action("GetListOrganisations", "MaintainOrganisation", new { page = 1 })
        </div>
    </div>
</div>

<script>
    function maintain_organisation_include_inactive(checkbox) {
        var url = "/MaintainOrganisation/GetListOrganisationsFromCheckbox";

        if (checkbox.checked) {
            $.post(url, { IncludeInActive: true }, function (data) {
                $("#organisation_table").html(data);
            });
        }
        else {
            $.post(url, { IncludeInActive: false }, function (data) {
                $("#organisation_table").html(data);
            });
        }
    }
</script>
