<div class="modal fade" id="department_popup" role="dialog" style="overflow-y:auto">
    <!-- content of pop up here -->
</div>

<div class="modal fade" id="team_popup" role="dialog" style="overflow-y:auto">
    <!-- content of pop up here -->
</div>
<div class="modal fade" id="directorate_popup" role="dialog" style="overflow-y:auto">
    <!-- content of pop up here -->
</div>

<div class="modal fade" id="organisation_popup" role="dialog">
    <!-- Content of popup here -->
</div>

<div class="modal fade" id="supportingmaterial_popup" role="dialog">
    <!-- content of pop up here -->
</div>

<!-- lookup -->
<div class="modal fade" id="lookup" role="dialog">
    <!-- content of pop up here -->
</div>

<!-- Nhan -->
<div class="modal fade" id="myAddModal" role="dialog">

</div>

<script>

    // idLink: id of actionlink, idPopupShow id of popup will be show, idPopupHide id of popup will be hide
    function set_attr_link_popup(idLink, idPopupShow, idPopupHide) {

        idLink = "#" + idLink;
        idPopupShow = "#" + idPopupShow;
        idPopupHide = "#" + idPopupHide;

        $(idLink).attr('data-toggle', 'modal');
        $(idLink).attr('data-target', idPopupShow);
        $(idPopupShow).modal('show');
        $(idPopupHide).modal('hide');
    }
</script>