<div class="modal fade" id="department_popup" role="dialog" style="overflow-y:auto">
    <!-- content of pop up here -->
</div>

<div class="modal fade" id="team_popup" role="dialog" style="overflow-y:auto">
    <!-- content of pop up here -->
</div>
