<link href="~/Content/mycss.css" rel="stylesheet" />

<div>
    @*@Html.Action("List", "MaintainOrganisation", new { area = "NormalUser" })*@
</div>
<div>
    @Html.Action("Index", "MaintainSupportingMaterial", new { area = "NormalUser", orgID = "d5f1ffe9-cd05-4e24-9cd0-41d8812980ea" })
</div>