
<div class="row" style="border: 1px ridge silver; ">
    <div style="margin-top:10px;">
        <div class="row">
            @Ajax.ActionLink("Add", "Add_ActionLink", "MaintainDepartment",
                                                         new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "department_popup", InsertionMode = InsertionMode.Replace, OnComplete = "set_attr_link_popup('add_department_link', 'department_popup', '')" },
                                       new { @id = "add_department_link", @class = "btn btn-default col-md-offset-9 col-md-1" })

            <input type="checkbox" style="margin: 8px 8px;" onchange="maintain_department_include_inactive(this)" />Include In-active
        </div>
        <div id="department_table">
            @Html.Action("GetListDepartments", "MaintainDepartment", new { page = 1 })
        </div>
    </div>
</div>

<script>
    function maintain_department_include_inactive(checkbox) {
        var url = "/MaintainDepartment/GetListDepartmentsFromCheckbox";

        if (checkbox.checked) {
            $.post(url, { IncludeInActive: true }, function (data) {
                $("#department_table").html(data);
            });
        }
        else {
            $.post(url, { IncludeInActive: false }, function (data) {
                $("#department_table").html(data);
            });
        }
    }
</script>
