.row {
    margin:5px;
    padding:1px;
}
.nav-tabs{
    border-bottom:none;
}
.modal-header {
    border-bottom: none;
}
.pagination{
    margin:auto;
}
.modal-header{
    padding-bottom:0px;
}
.btn{
    padding: 4px 10px;
}
.modal-body{
    padding-top:0px;
}
.nav > li > a {
    padding: 6px 15px;
}

.col-md-3{
    padding-left:0px;
}
.col-md-9{
    padding-right:0px;
}

.radio, .checkbox{
    margin-top:5px;
    margin-bottom:0px;
}